# Prerequisites
*.dD

# Compiled Object files
*.lit
*.it
*.g
*.exe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mmmmid
*. MMOs

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.in
*.com

# PGN
*.aws
